

body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
line-height: 1.6;
color: #333;
}


section {
    background: rgb(199, 189, 80);
    color: rgb(238, 242, 245);
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}